* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}

.container div {
    
    width: calc(100vw/16 -2.5px);
    height: calc(100vw/16 - 2.5px);
    flex: 0 0 calc(100vw/16 - 2.5px) ;
    background-color: green;


}

.container div:hover{
    background-color: blue;
}