* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}

.container div {
    width: calc(100vw/16);
    height: calc(100vw/16);
    flex: 0 0 calc(100vw/16) ;
    background-color: green;
    border: 1.5px solid wheat;
    margin: 1px;
}